@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
html {
  background-color: #f31559;
}
h1,
h4 {
  color: #dddddd;
}
p {
  color: #dddddd;
}
body {
  text-align: center;
}
div {
  background-color: #f31559;
  margin: 50px 0 20px;
  text-align: center;
}
